.card-item-container {
    padding: 20px;
}

.card-font {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    width: 400px;
    height: 300px;
    border-radius: 24px;
    backdrop-filter: blur(2px);
   
}
